* {
  outline : none
}

html {
  display : flex;
  justify-content : center;
}

body {
  background-color : #151515;
  color : #FF9505;
  font-size: 1.25em;
  min-height : 100vh;
  width : 98vw;
}

#root {
  min-height : inherit;
}

a {
  color : #FF9505;
  text-decoration : none;
}

button, input {
  background-color : #00000000;
  color : #FF9505;
  font-size : 1em;
  height: 1.3em;
  border : none;
}

button {
  border : none;
  background-color: #016fb9;
  color : white;
  cursor: pointer;
  margin : .2em;
}

button:hover {
  background-color: #151515;
  color : #EC4E20;
}

input {
  border : .1em solid #6c6c6c;
}

input:focus {
  box-shadow : 0 0 0 0 #883232;
  transform : scale(1);
  animation : pulse 2s infinite;
}

::placeholder {
  color : #6c6c6c;
}

@media (max-width: 950px) {
  body {
    width : 94vw;
  }
}

@keyframes pulse {
  0% {
      transform : scale(0.95);
      box-shadow : 0 0 0 #ff7300;
  }

  70% {
      transform : scale(1);
      box-shadow : 0 0 0 .25em #15151500;
  }

  100% {
      transform : scale(0.95);
      box-shadow : 0 0 .1em 0 #15151500;
  }
}